<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ログイン</title>
</head>
<body>

    <h2>管理者ログイン</h2>

    <form action="/admin/login" method="POST">
        <div>
            <label for="username">ユーザー名</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>
