<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
 
    <title>掲示板スレッド</title>
    <style>
        p {
            margin-bottom: 5px;
        }

        input, textarea {
            width: 300px;
            padding: 5px;
        }

        textarea {
            height: 80px;
        }
    </style>
</head>
<body>
    <h2 th:text="${board.title}"></h2>
    <p th:text="${board.description}"></p>

    <hr>

    <form th:action="@{/board/comment}" method="POST">
		<input type="hidden" name="threadId" th:value="${board.id}">
        <div>
           <p>コメント</p>
            <textarea name="content" required></textarea>
        </div>
        <div>
            <button type="submit">投稿</button>
        </div>
    </form>
    
    <hr>

    <h3>コメント一覧</h3>
    <ul>
		<li th:each="comment : ${comments}" th:text="${comment.content}"></li>
	</ul>
	
</body>
</html>