<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
 
    <title>掲示板スレッド</title>
    <style>
        p {
            margin-bottom: 5px;
        }

        input, textarea {
            width: 300px;
            padding: 5px;
        }

        textarea {
            height: 80px;
        }
    </style>
</head>
<body>
    <h2>スレッドタイトル</h2>
    <p>スレッドの説明がここに入ります。</p>

    <hr>

    <h3>コメントを投稿</h3>
    <form action="" method="POST">
		
        <div>
           <p>コメント</p>
            <textarea name="comment"></textarea>
        </div>
        <div>
            <button type="submit">投稿</button>
        </div>
    </form>

    <hr>

    <h3>コメント一覧</h3>

</body>
</html>