<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>

</head>
<body>

        <h2>ユーザー登録</h2>
        <form action="/register" method="POST">
            <div>
                <label for="username">ユーザー名</label>
                <input type="text" id="username" name="username" >
            </div>

            <div>
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password" >
            </div>

            <div>
                <label for="confirmPassword">パスワード確認</label>
                <input type="password" id="confirmPassword" name="confirmPassword" >
            </div>
            <button type="submit">登録</button>
        </form>
        <p>すでにアカウントをお持ちですか？ <a href="login.html">ログイン</a></p>

</body>
</html>

